<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OMS</title>
  
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/style.min.css" rel="stylesheet">
  
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="#" >
        <strong class="blue-text">OMS</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/home">Home</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/product">My Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/order" >Create Order</a>
          </li>
	  	 <li class="nav-item">
            <a class="nav-link waves-effect" href="/cart">
              <span class="badge red z-depth-1 mr-1"> . </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>	
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/customer" >Customer</a>
          </li>	
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/seller" >Seller</a>
          </li> 
          <li class="nav-item">
            <a href="/seller" class="nav-link waves-effect" >
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
	  <li class="nav-item">
            <a class="nav-link waves-effect" href="/logout" >Logout</a>
          </li> 	
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!--Main layout-->
  <main>
  	
    <div class="container-fluid">
	   
		  <!--Navbar-->
	      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
	      </nav>
	      <!--/.Navbar-->
		
		<h4><p th:text="${message}"/></h4>
		
	  <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
         
		<form id="itemForm" name="itemForm" method="post" action="#" th:action="@{/item/save}" th:object="${item}" >	
				<br/>
				<table>
					<tr>
						<td>Item Id</td>
						<td><b><p th:text="*{id}"/></b> </td>
					</tr>
					<tr>
						<td>Name</td>
						<td> <input type="text" th:field="*{name}" value=""/></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
					</tr>
					<tr>
						<td>Description</td>
						<td> <input type="text" th:field="*{description}" value=""/></td>
						<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
					</tr>
					<tr>
						<td>Price (per unit)</td>
						<td> <input type="text" th:field="*{price}" value=""/></td>
						<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price (per unit) Error</td>
					</tr>
					<tr>
						<td>Unit</td>
						<td> <input type="text" th:field="*{unit}" value=""/></td>
						<td th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}">Unit Error</td>
					</tr>
					<tr>
						<td>Minimum Quantity</td>
						<td> <input type="text" th:field="*{min}" value=""/></td>
						<td th:if="${#fields.hasErrors('min')}" th:errors="*{min}">Minimum Quantity Error</td>
					</tr>
					<tr>
						<td>Maximum Quantity</td>
						<td> <input type="text" th:field="*{max}" value=""/></td>
						<td th:if="${#fields.hasErrors('max')}" th:errors="*{max}">Maximum Quantity Error</td>
					</tr>
					<tr>
						<td>Step (Quantity)</td>
						<td> <input type="text" th:field="*{step}" value=""/></td>
						<td th:if="${#fields.hasErrors('step')}" th:errors="*{step}">Step (Quantity) Error</td>
					</tr>
					<tr>
						<td>Default Quantity</td>
						<td> <input type="text" th:field="*{defaultValue}" value=""/></td>
						<td th:if="${#fields.hasErrors('defaultValue')}" th:errors="*{defaultValue}">Default Quantity Error</td>
					</tr>
					
				</table>
				<input type="hidden" th:field="*{id}" value=""/>

		</form>  
		
	    <table>
	    	<tr>
		    		<td><button id="btnStart" class="btn btn-primary btn-lg btn-block" type="button" onClick="processItem('update')">Update</button></td>
		    		<!-- 
		    		<td><button id="btnDelete" class="btn btn-primary btn-lg btn-block" type="button" onClick="deleteItem('delete')">Delete</button></td>
		    		 -->
	    	</tr>
	    </table>
	   </div>
	  </div>	
				
    </div>    
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright: S. Das
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
 
<script>

function processItem(action){
	document.itemForm.submit();
}

function deleteItem(action){
	document.itemForm.action = "/item/delete"; 
	document.itemForm.submit();
}

</script>

</body>

</html>